:root{
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
}

*{
    padding: 0;
    margin: 0;
}


.body{
    background-color: var(--color-primario);
    height: 100vh;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    height: 100vh;
}

.contenedor__logo{
    margin-top: 10px;
}

header {
    width: 10%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid #ccc;  Para ver el diseño de las columnas */
}

.header__imagen{
    width: 100%;
    height: 100%;
}

main{
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid #ccc;  Para ver el diseño de las columnas */
}

.input__texto{
    background-color: var(--color-primario);
    width: 100%;
    padding-bottom: 50%;
    color: var(--color-secundario);
    border: 0;
    font-size: 2rem;
    resize: none;
}

.input__texto::placeholder{
    color: var(--color-secundario);
}

.advertencia{
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.contenedor__parrafo{
    color: #495057;
}

section{
    flex: 0.5;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Línea opcional para visualizar las columnas */
}

.contenedor__botones{
    display: flex;
    gap: 10px;
}

.button__encriptar{
    color: white;
    background-color: var(--color-secundario);
    border-radius: 8px;
    width: 328px;
    height: 40px;
    text-decoration: none;
}

.button_desencriptar{
    background-color: #D8DFE8;
    border-color: var(--color-secundario);
    border-radius: 8px;
    width: 328px;
    height: 40px;
    text-decoration: none;
}

.seccion__desencriptado{
    background-color: #D8DFE8;
    border-radius: 10px;
    margin: 1%;
}

.mensaje__desencriptado{
    padding: 30px;
}

.desencriptado__immagen1{
    width: 50%;
    margin-left: 20%;
    margin-top: 30%;
}

.desencriptado__frame5{
    width: 50%;
}